<div>
    <div class="row">
        <div class="col-md-10 col-12 offset-md-1 q-mt-md">
            <q-table
                title="Projects"
                class="sticky-header-table"
                :columns="headersTB"
                :data="projects"
                :loading="loading"
                row-key="name"
                separator="none"
                @row-dblclick="dblClick"
            >
                <template v-slot:top>
                    <q-input
                    class="col-md-3"
                    :label="$t('searchFinds')"
                    v-model="search.finding"
                    outlined
                    >
                        <template v-slot:append>
                            <q-btn flat icon="search" />
                            <q-icon name="cancel" class="cursor-pointer" />
                        </template>
                    </q-input>
                    <q-toggle :label="$t('myProjects')" v-model="myProjects" />
                    <q-toggle :label="$t('usersConnected')" v-model="displayConnected"  />
                    <q-space />
                    <q-btn 
                    color="secondary"
                    unelevated
                    :label="$t('newProject')"
                    no-caps
                    />    
                </template>
                <template v-slot:top-row="props">
                    <q-tr>
                        <q-td
                        v-for="col in props.cols"
                        :key="col.name"
                        style="width:17%"
                        >
                            <div v-if="['name', 'leader', 'pentesters', 'date'].indexOf(col.name) > -1">
                                <q-input 
                                dense
                                :label="$t('search')"
                                v-model="search[col.name]"
                                :autofocus="col.name === 'name'"
                                clearable
                                outlined
                                />
                            </div>
                            <div v-else-if="col.name === 'company'">
                                <q-select
                                    dense 
                                    :label="$t('search')"
                                    :options="companies"
                                    v-model="search[col.company]"
                                    option-value="name"
                                    option-label="name"
                                    map-options
                                    emit-value
                                    clearable
                                    options-sanitize
                                    outlined
                                    />
                            </div>
                            <div v-else-if="col.name === 'client'">
                                <q-select
                                    dense 
                                    :label="$t('search')"
                                    :options="companies"
                                    v-model="search.company"
                                    option-value="name"
                                    option-label="name"
                                    map-options
                                    emit-value
                                    clearable
                                    options-sanitize
                                    outlined
                                    />
                            </div>
                        </q-td>
                    </q-tr>
                </template>
                <q-td slot="body-cell-action" slot-scope="props" style="width:1px">
                    <q-btn size="sm" flat color="primary" icon="fa fa-edit">
                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">{{$t('tooltip.editAudit')}}</q-tooltip> 
                    </q-btn>
                    <q-btn size="sm" flat color="negative" icon="fa fa-trash">
                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">{{$t('tooltip.deleteAudit')}}</q-tooltip> 
                    </q-btn>
                </q-td>
            </q-table>
        </div>
    </div>
</div>
    